
     <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

          <h2>About</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>About</li>
          </ol>

        </div>
      </div><!-- End Breadcrumbs -->

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">

          <div class="row position-relative">

            <div class="col-lg-7 about-img" style="background-image: url(assets/img/about.jpg);"></div>

            <div class="col-lg-7">
              <h2>About Company</h2>
              <div class="our-story">

                <h3>Our Story</h3>
                <p>M/S Gautam Construction is a registered firm under the Indian partnership Act U/S 58(1) of 1932(Reg No. 64)
corporate by its Managing Partner Shri Mithilesh Kumar whose involved in Construction business since2001 in
various civil works in Odisha, Bihar & Jharkhand.</p>

<p>We believe in building value adding relationship with our customers in the following ways;</p>
                <ul>
                  <li><i class="bi bi-check-circle"></i> <span>To create employment</span></li>
                  <li><i class="bi bi-check-circle"></i> <span>To preserve environment</span></li>
                  <li><i class="bi bi-check-circle"></i> <span>To participate in the construction, rehabilitation, repair and maintenance of roads of all kinds.</span></li>
                </ul>

                <div class="watch-video d-flex align-items-center position-relative">
                  <i class="bi bi-play-circle"></i>
                  <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Watch Video</a>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Stats Counter Section ======= -->
      <section id="stats-counter" class="stats-counter section-bg">
        <div class="container">

          <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
              <div class="stats-item d-flex align-items-center w-100 h-100">
                <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
                <div>
                  <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Happy Clients</p>
                </div>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
              <div class="stats-item d-flex align-items-center w-100 h-100">
                <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
                <div>
                  <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Projects</p>
                </div>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
              <div class="stats-item d-flex align-items-center w-100 h-100">
                <i class="bi bi-headset color-green flex-shrink-0"></i>
                <div>
                  <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Hours Of Support</p>
                </div>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
              <div class="stats-item d-flex align-items-center w-100 h-100">
                <i class="bi bi-people color-pink flex-shrink-0"></i>
                <div>
                  <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Hard Workers</p>
                </div>
              </div>
            </div><!-- End Stats Item -->

          </div>

        </div>
      </section><!-- End Stats Counter Section -->

      <!-- ======= Alt Services Section ======= -->
      <section id="alt-services" class="alt-services">
        <div class="container" data-aos="fade-up">

          <div class="row justify-content-around gy-4">
            <div class="col-lg-6 img-bg" style="background-image: url(assets/img/alt-services.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>

            <div class="col-lg-5 d-flex flex-column justify-content-center">
              <h2>Why Choose Us</h2>
              <p>Our team of dedicated and highly skilled professionals will carefully guide you through each step of making
roads & bridge. We believe the key to an enjoyable and rewarding experience is best achieved by
ensuring that open and honest communication is maintained throughout all aspects. This philosophy is
applied from your initial enquiry to well after the completion
and handover of your project, ensuring you total peace of mind.<br/>
Offering our clients a flexible and detailed service, we are able to manage all aspects of the building
process to the highest possible standards. This includes working with local councils, initial concept
and design through to approvals and construction of your project. Our team of professionals will work
closely with you each step of the way, ensuring the finished project is exactly as you intended.
Committed to providing a truly unique and rewarding road experience for our clients, we adopt the
latest technologies and creative design principles to transform your ideas into reality.
Our dedicated trades are of superior quality and fine workmanship and like us, pride themselves on
delivering environments that are truly inspiring - Roads of the highest standards,
tailored to your specific requirements.</p>
<div class="award">
  <div id="awa_ho" class="award_icon text_align_center">
     <i><img src="/assets/images/ch1.png" alt="#"/>
     </i>
     <strong>client satisfaction</strong>
  </div>
  <div id="awa_ho" class="award_icon text_align_center">
     <i><img src="/assets/images/ch2.png" alt="#"/></i>
     <strong>award</strong>
  </div>
  <div id="awa_ho" class="award_icon text_align_center">
     <i><img src="/assets/images/ch3.png" alt="#"/></i>
     <strong>Trustable</strong>
  </div>
</div><!-- End Icon Box -->

            </div>
          </div>

        </div>
      </section>
      <!-- ======= Alt Services Section 2 ======= -->
      <section id="alt-services-2" class="alt-services section-bg">
        <div class="container" data-aos="fade-up">

          <div class="row justify-content-around gy-4">
            <div class="col-lg-5 d-flex flex-column justify-content-center">
              <h3>MECHANIZATION OF TEAM WORKS</h3>
              <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-easel flex-shrink-0"></i>
                <div>
                  <h4><a href="" class="stretched-link">Execution of Works</a></h4>
                  <p>Technically Qualified & Well Equipped field staffs are engaged to execute job works smoothly & perfectly.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-patch-check flex-shrink-0"></i>
                <div>
                  <h4><a href="" class="stretched-link">Supervision of Works</a></h4>
                  <p>Experienced field staffs are engaged for supervision of job works on right time.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <h4><a href="" class="stretched-link">Quality of Works</a></h4>
                  <p>Quality is always being our Motto, there is no compromise in Quality.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <h4><a href="" class="stretched-link">Controlling of Works</a></h4>
                  <p>Well Equipped testing laboratory & technicians for supervision of Quality Control.</p>
                </div>
              </div>
              <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <h4><a href="" class="stretched-link">Refreshment / Entertainment for Workmen</a></h4>
                  <p>Workers are engage for execution of job works and need time to time refreshment, entertainment which are credit to prove
his performance of their works.</p>
                </div>
              </div><!-- End Icon Box -->
            </div>

            <div class="col-lg-6 img-bg" style="background-image: url(assets/img/alt-services-2.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>
          </div>

        </div>
      </section><!-- End Alt Services Section 2 -->

      <!-- ======= Our Team Section ======= -->
      <section id="team" class="team">
        <div class="container" data-aos="fade-up">

          <div class="section-header">
            <h2>Our Team</h2>
            <p>Our team of dedicated and highly skilled professionals will carefully guide you through each step of making
roads & bridge. We believe the key to an enjoyable and rewarding experience is best achieved by
ensuring that open and honest communication is maintained throughout all aspects.</p>
          </div>

          <div class="row gy-5">

            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Mithilesh Kumar</h4>
                <span>Director Partner</span>

              </div>
            </div><!-- End Team Member -->

            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Sushil Singh</h4>
                <span>Director Partner</span>

              </div>
            </div><!-- End Team Member -->

            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="#"><i class="bi bi-twitter"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info text-center">
                <h4>Rajnish Kumar</h4>
                <span>Manager</span>

              </div>
            </div><!-- End Team Member -->

          <!-- End Team Member -->

          </div>

        </div>
      </section><!-- End Our Team Section -->

    
