

       <!-- ======= Breadcrumbs ======= -->
       <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
         <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

           <h2>Services</h2>
           <ol>
             <li><a href="index.html">Home</a></li>
             <li>Services</li>
           </ol>

         </div>
       </div><!-- End Breadcrumbs -->

       <!-- ======= Services Section ======= -->
       <!-- ======= Services Section ======= -->
       <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

          <div class="section-header">
            <h2>Services</h2>
            <p>Construction of all types of Civil Engineering Structures Viz: Buildings, Bridges, Roads, Shell roof, High rise and Industrial structures.</p>
            </div>

          <div class="row gy-4" routerLinkActive="active">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="service-item  position-relative">
                <div class="icon">
                  <i class="fa-solid fa-mountain-city"></i>
                </div>
                <h3>Construction of residential buildings</h3>
                <p>The company provides construction services for residential buildings, including apartments, villas, and individual houses. </p>
                <a routerLink="/serviceDetails" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="fa-solid fa-arrow-up-from-ground-water"></i>
                </div>
                <h3>Construction of commercial buildings</h3>
                <p>The company provides construction services for commercial buildings, including offices, retail outlets, and other commercial properties.</p>
                <a routerLink="/serviceDetails" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="fa-solid fa-compass-drafting"></i>
                </div>
                <h3>Road and Bridge construction</h3>
                <p>The company has expertise in the construction of roads, highways, bridges and other transportation infrastructure projects </p>
                <a routerLink="/serviceDetails" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->


            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="fa-solid fa-helmet-safety"></i>
                </div>
                <h3>Project planning and design</h3>
                <p>The company provides planning and design services for various construction projects, including site analysis, design and feasibility studies, and project scheduling.</p>
                <a routerLink="/serviceDetails" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="fa-solid fa-arrow-up-from-ground-water"></i>
                </div>
                <h3>Project management</h3>
                <p>The company also provides project management services for construction projects, including project scheduling, budgeting, procurement, and quality control.</p>
                <a routerLink="/serviceDetails" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="fa-solid fa-trowel-bricks"></i>
                </div>
                <h3>Renovation and remodeling</h3>
                <p>The company also provides renovation and remodeling services for existing buildings.</p>
                <a routerLink="/serviceDetails" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
              </div>
            </div><!-- End Service Item -->

          </div>

        </div>
      </section><!-- End Services Section -->


       <!-- ======= Servie Cards Section ======= -->
      

