<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1><span>Gautam Construction</span></h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar" routerLinkActive="active">
      <ul>
         <li><a  routerLink="home">Home</a></li>
      <li><a  routerLink="about" >About</a></li>
      <li><a  routerLink="service">Services</a></li>
      <li><a  routerLink="project">Projects</a></li>
      <li><a  routerLink="contacts">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header>

<router-outlet></router-outlet>


<footer id="footer" class="footer">

<div class="footer-content position-relative">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="footer-info">
          <h3>Gautam Construction</h3>
          <p>
            Gautam Complex,Saranda Behind Hotel The World, Barbil, Keonjhar,<br>
            Odisha,758035<br><br>
            <strong>Phone:</strong> +91 9437011545<br>
            <strong>Email:</strong> rajnishkmr083@gmail.com<br>
          </p>

        </div>
      </div><!-- End footer info column-->

      <div class="col-lg-2 col-md-3 footer-links" routerLinkActive="active">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Services</a></li>
          <li><a  href="#">Projects</a></li>
          <li><a  href="#">Contact</a></li>
        </ul>
      </div><!-- End footer links column-->

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">ROADS AND CIVIL ENGINEERING</a></li>
          <li><a href="#">WORK EXPERIENCE & COMPLETED PROJECTS </a></li>
          <li><a href="#">MECHANI ZATION OF TEAM WORKS </a></li>
          <li><a href="#">EQUIPMENT/TOOLS FOR EXECUTION OF WORKS</a></li>

        </ul>
      </div><!-- End footer links column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 footer-links">

      <h5 class="text-center text-white">Opening hours</h5>
     <table class="table text-center text-white">
       <tbody class="font-weight-normal">
         <tr>
           <td>Mon - Thu:</td>
           <td>8am - 9pm</td>
         </tr>
         <tr>
           <td>Fri - Sat:</td>
           <td>8am - 1pm</td>
         </tr>
         <tr>
           <td>Sunday:</td>
           <td>9am - 10pm</td>
         </tr>
       </tbody>
     </table>
   </div>
    </div>
  </div>
</div>

<div class="footer-legal text-center position-relative">
  <div class="container">
    <div class="copyright">
       <strong><span>Gautam Construction</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    </div>
  </div>
</div>

</footer>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>
