<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <h1><span>Gautam Construction</span></h1>
    </a>

    <i  class="mobile-nav-toggle mobile-nav-show bi bi-list" ></i>
    <i  class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x" ></i>
    <nav class="navbar navbar-default">
    <ul>
      <li><a routerLink="/home" reloadOnClick>Home</a></li>
      <li><a routerLink="/about" reloadOnClick>About</a></li>
      <li><a routerLink="/service" reloadOnClick>Services</a></li>
      <li><a routerLink="/project" reloadOnClick>Projects</a></li>
      <li><a routerLink="/contacts" reloadOnClick>Contact</a></li>
    </ul>
  </nav>

  </div>
</header>

<router-outlet></router-outlet>


<footer id="footer" class="footer">

<div class="footer-content position-relative">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="footer-info">
          <h3>Gautam Construction</h3>
          <p>
            Gautam Complex,Saranda Behind Hotel The World, Barbil, Keonjhar,<br>
            Odisha,758035<br><br>
            <strong>Phone:</strong> +91 9438826955<br>
            <strong>Email:</strong> gautamconstruction2011@gmail.com<br>
          </p>

        </div>
      </div><!-- End footer info column-->

      <div class="col-lg-2 col-md-3 footer-links" routerLinkActive="active">
        <h4>Useful Links</h4>
        <ul>
          <li><a routerLink="/home" reloadOnClick>Home</a></li>
          <li><a routerLink="/about" reloadOnClick>About us</a></li>
          <li><a routerLink="/service" reloadOnClick>Services</a></li>
          <li><a  routerLink="/project" reloadOnClick>Projects</a></li>
          <li><a  routerLink="/contacts" reloadOnClick>Contact</a></li>
        </ul>
      </div><!-- End footer links column-->

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">ROADS AND CIVIL ENGINEERING</a></li>
          <li><a href="#">WORK EXPERIENCE & COMPLETED PROJECTS </a></li>
          <li><a href="#">MECHANI ZATION OF TEAM WORKS </a></li>
          <li><a href="#">EQUIPMENT/TOOLS FOR EXECUTION OF WORKS</a></li>

        </ul>
      </div><!-- End footer links column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0 footer-links">

      <h5 class="text-center text-white">Opening hours</h5>
     <table class="table text-center text-white">
       <tbody class="font-weight-normal">
         <tr>
           <td>Mon - Thu:</td>
           <td>8am - 9pm</td>
         </tr>
         <tr>
           <td>Fri - Sat:</td>
           <td>8am - 1pm</td>
         </tr>
         <tr>
           <td>Sunday:</td>
           <td>9am - 10pm</td>
         </tr>
       </tbody>
     </table>
   </div>
    </div>
  </div>
</div>

<div class="footer-legal text-center position-relative">
  <div class="container">
    <div class="copyright">
       <strong><span>Gautam Construction</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    </div>
  </div>
</div>

</footer>
