

     <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
          <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>Projects</h2>
            <ol>
              <li><a href="index.html">Home</a></li>
              <li>Projects</li>
            </ol>

          </div>
        </div><!-- End Breadcrumbs -->
        <!-- ======= Our Projects Section ======= -->
        <section id="projects" class="projects">
          <div class="container" data-aos="fade-up">

            <div class="section-header">
              <h2>Our Projects</h2>
              <p>Developing the construction plan is a critical task in the management of construction, even if the plan is not written or otherwise formally recorded. In addition to these technical aspects of construction planning, it may also be necessary to make organizational decisions about the relationships between project participants and even which organizations to include in a project. For example, the extent to which sub-contractors will be used on a project is often determined during construction planning.</p>
            </div>

            <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

              <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100" >
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-remodeling">Completed Project</li>
                   <li data-filter=".filter-construction">Runing Project</li>

              </ul><!-- End Projects Filters -->
<br/>
    <div class="row gy-4 portfolio-container" data-aos="fade-up"  data-aos-delay="200">

      <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling"><div class="portfolio-content h-100" ><b>ELSAMEX-TWS-SNC JOINT VENTURE</b><p>WIDENING TO 4/6 LANE & STRENGTHENING OF EXISTING 2 LANE
CARRIAGEWAY OF NH-5 IN THE STATE OF ODISHA 2001-02</p></div></div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling"><div class="portfolio-content h-100" ><b>PUNJ LLOYD LTD.</b><p>PACKAGE IV-B AT SASARAM IN THE STATE OF BIHAR NH-2 ROAD
        PROJECT 2002-03</p></div></div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling"><div class="portfolio-content h-100" ><b>B.R ARORA ASSOCIATES PVT.</b><p>EXECUTING APPROACH ROAD WORK AT BANARAS AIRPORT PROJECT 2004-05</p></div></div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling"><div class="portfolio-content h-100" ><b>DELCO CONSTRUCTION PVT. LTD.</b><p>EXECUTION OF ROAD WORK AT N.T.P.C BARH IN THE STATE OF BIHAR 2005-06</p></div></div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling"><div class="portfolio-content h-100" ><b>JINDAL STEEL & POWER LTD.</b><p>VARIOUS ROAD WORK IN & ARROUND PALLENT PLANT, TOWNSHIP,
        MINES, CONNECTING BARBIL TOWN ETC. 2008-09</p></div></div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-remodeling"><div class="portfolio-content h-100" ><b>THE ORISSA MINERAL
        DEVLOPMENT CO. LTD.</b><p>CONSTRUCTION OF BLACK TOPPED COVERING 4.0 KM LENGTH & 5.50
        MTS WIDTH & CONSTRUCTION OF BRIDGES FROM THAKURANI TO BARBIL 2008-09</p></div></div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" ><b>SARDA MINES PVT. LTD</b><p>STRENTHENING & WIDENING BLACK TOP ROAD 5KM/3M WIDE IN SIDE
        BASE CAMP, SOYABALLI 2008-09</p></div></div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100"><b>SARDA MINES PVT. LTD</b><p>CONSTRUCTION OF BLACK TOP ROAD FROM BASE CAMP TO THAKURANI
        CHAWK CONNECTING BARBIL ROAD 2008-09</p></div></div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" ><b>SARDA MINES PVT. LTD</b><p>STRENTHENING & WIDENING FROM BILEIPADA TO DEOJHAR TARINI
        TEMPLE. 2009-10</p></div></div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" ><b>SARDA MINES PVT. LTD</b><p>STRENTHENING & WIDENING FROM BILEIPADA TO DEOJHAR TARINI
        TEMPLE. 2009-10</p></div></div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100"><b>THE ORISSA MINERAL
        DEVLOPMENT CO. LTD.</b><p>CONSTRUCTION OF BLACK TOPPED FOR COLONY ROAD AT
        THAKURANI 2010-11</p></div></div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" ><b>TATA STEEL LIMITED</b><p>REPAIRS TO CAMP & PERIFERALS ROAD AT JODA. 2010-11</p></div></div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" ><b>TATA STEEL LIMITED</b><p>
REPAIRS TO RUNWAY OF AIR STRIP AT NIM 2010-11</p></div></div>

<div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" >
        <b>TATA STEEL LIMITED</b>
        <p>CONSTRUCTION OF BLACK TOP ROAD FROM GDQ TO SONAKHAN
  VILLAGE OF GOMARDIHI OF SUNDERGARH.
        2011-12</p>
        </div></div>
       <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" >
        <b>TATA STEEL LIMITED</b>
        <p>PROTECTION WALL AT NEW EUIPMENT 2011-12</p>
        </div></div>
     <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" >
        <b>STEEL AUTHORITY OF INDIA LIMITED</b>
        <p>CONSTRUCTION OF ROAD FROM OVER BRIDGE TO RAILWAY CROSSING
  NEAR KARO BRIDGE. BOLANI ORE MINES
       2012-13</p>
        </div></div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" >
        <b>TATA STEEL LIMITED</b>
        <p>GRADING WORK AT NEW DCMP SITE
        2012-13</p>
        </div></div>
       <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" >
        <b>WORKS DEPT. ( PWD R&B )
  DIV- KEONJHAR</b>
        <p>IMPROVMENT OF ROAD LEADING FROM BAKULHUTTING NEAR SRI BEDA
  PRAKASH KENTH HOUSE TO SANTABAHAL2013-14</p>
        </div></div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" >
       <b>TATA STEEL LIMITED</b>
       <p>ROAD REPAIRING & RESURFACING AT NOAMUNDI
    2013-14</p>
           </div></div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" >

       <b>TATA STEEL LIMITED</b>
       <p>MEGA ROAD WORK AT WBD
       2013-14</p>
           </div></div>
           <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" >

      <b>TATA STEEL LIMITED</b>
      <p>MEGA ROAD WORK AT WBD
      2013-14</p>
          </div></div>

     <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" >

      <b>TATA STEEL LIMITED</b>
      <p>ROAD REPAIRING AT JHARIA DIVISION2013-14</p>
          </div></div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" >

      <b>WORKS DEPT. ( PWD R&B )
DIV- KEONJHAR</b>
      <p>IMPROVEMENT OF BARBIL-KIRIBURU ROAD 12/450 KM TO 16/00 KM 2014-15</p>
          </div></div>
     <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" >

      <b>WORKS DEPT. ( PWD R&B )
DIV- KEONJHAR</b>
      <p>IMPROVEMENT OF SUAKATI-DUMNA ROAD 48/000 KM TO 56/000 KM 2015-16</p>
          </div></div>
    <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" >

      <b>WORKS DEPT. ( PWD R&B )
DIV- KEONJHAR</b>
      <p>CONSTRUCTION OF H.L BRIDGE OVER BOINGA NALLAH AT 33/340 KM
ON SUAKATI-DUMNA ROAD 2016-18</p>
          </div></div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" >

      <b>WORKS DEPT. ( PWD R&B )
DIV- KEONJHAR</b>
      <p>IMPROVEMENT OF SULIPAT-JALDUNGURI ROAD 02/250 KM TO 10/000 KM 2016-17</p>
          </div></div>
    <div class="col-lg-4 col-md-6 portfolio-item filter-construction"><div class="portfolio-content h-100" >

      <b>TATA STEEL LIMITED</b>
      <p>ROAD REPAIRING & RESURFACING AT JODA
      2017-18</p>
          </div></div>
    </div>
              <!-- End Projects Item -->

              </div><!-- End Projects Container -->

            </div>


        </section><!-- End Our Projects Section -->
