<main id="main">

    <!-- ======= Breadcrumbs ======= -->

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/breadcrumbs-bg.jpg');">
          <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

            <h2>Project Details</h2>
            <ol>
              <li><a href="index.html">Home</a></li>
              <li>Project Details</li>
            </ol>

          </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= Projet Details Section ======= -->
        <section id="project-details" class="project-details">
          <div class="container" data-aos="fade-up" data-aos-delay="100">

            <table class="table">
      <thead>
        <tr>
          <th scope="col">SL.NO</th>
          <th scope="col">CLIENT NAME</th>
          <th scope="col">NAME OF WORKS</th>
          <th scope="col">YEAR</th>


        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>ELSAMEX-TWS-SNC JOINT VENTURE</td>
          <td>WIDENING TO 4/6 LANE & STRENGTHENING OF EXISTING 2 LANE
    CARRIAGEWAY OF NH-5 IN THE STATE OF ODISHA</td>
          <td>2001-02</td>
            <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>PUNJ LLOYD LTD.</td>
          <td>PACKAGE IV-B AT SASARAM IN THE STATE OF BIHAR NH-2 ROAD
    PROJECT</td>
          <td>2002-03</td>
            <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>B.R ARORA ASSOCIATES PVT.</td>
          <td>EXECUTING APPROACH ROAD WORK AT BANARAS AIRPORT PROJECT</td>
          <td>2004-05</td>
            <td></td>
        </tr>

        <tr>
          <th scope="row">4</th>
          <td>DELCO CONSTRUCTION PVT. LTD.</td>
          <td>EXECUTION OF ROAD WORK AT N.T.P.C BARH IN THE STATE OF BIHAR</td>
          <td>2005-06</td>
            <td></td>
        </tr>

        <tr>
          <th scope="row">5</th>
          <td>JINDAL STEEL & POWER LTD.</td>
          <td>VARIOUS ROAD WORK IN & ARROUND PALLENT PLANT, TOWNSHIP,
    MINES, CONNECTING BARBIL TOWN ETC.</td>
          <td>2008-09</td>
            <td></td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>THE ORISSA MINERAL
    DEVLOPMENT CO. LTD.</td>
          <td>CONSTRUCTION OF BLACK TOPPED COVERING 4.0 KM LENGTH & 5.50
    MTS WIDTH & CONSTRUCTION OF BRIDGES FROM THAKURANI TO BARBIL</td>
          <td>2008-09</td>

        </tr>
        <tr>
          <th scope="row">7</th>
          <td>SARDA MINES PVT. LTD</td>
          <td>STRENTHENING & WIDENING BLACK TOP ROAD 5KM/3M WIDE IN SIDE
    BASE CAMP, SOYABALLI</td>
          <td>2008-09</td>

        </tr>
        <tr>
          <th scope="row">8</th>
          <td>SARDA MINES PVT. LTD</td>
          <td>CONSTRUCTION OF BLACK TOP ROAD FROM BASE CAMP TO THAKURANI
    CHAWK CONNECTING BARBIL ROAD</td>
          <td>2008-09</td>

        </tr>
        <tr>
          <th scope="row">9</th>
          <td>SARDA MINES PVT. LTD</td>
          <td>STRENTHENING & WIDENING FROM BILEIPADA TO DEOJHAR TARINI
    TEMPLE.</td>
          <td>2009-10</td>
           </tr>
        <tr>
          <th scope="row">10</th>
          <td>SARDA MINES PVT. LTD</td>
          <td>STRENTHENING & WIDENING FROM BILEIPADA TO DEOJHAR TARINI
    TEMPLE.</td>
          <td>2009-10</td>

        </tr>
        <tr>
          <th scope="row">11</th>
          <td>THE ORISSA MINERAL
    DEVLOPMENT CO. LTD.</td>
          <td>CONSTRUCTION OF BLACK TOPPED FOR COLONY ROAD AT
    THAKURANI</td>
          <td>2010-11</td>
          </tr>
        <tr>
          <th scope="row">12</th>
          <td>TATA STEEL LIMITED</td>
          <td>REPAIRS TO CAMP & PERIFERALS ROAD AT JODA.</td>
          <td>2010-11</td>

        </tr>
        <tr>
          <th scope="row">13</th>
          <td>TATA STEEL LIMITED</td>
          <td>REPAIRS TO RUNWAY OF AIR STRIP AT NIM</td>
          <td>2010-11</td>
            </tr>

        <tr>
          <th scope="row">14</th>
          <td>TATA STEEL LIMITED</td>
          <td>CONSTRUCTION OF BLACK TOP ROAD FROM GDQ TO SONAKHAN
    VILLAGE OF GOMARDIHI OF SUNDERGARH.</td>
          <td>2011-12</td>
            </tr>
        <tr>
          <th scope="row">15</th>
          <td>TATA STEEL LIMITED</td>
          <td>PROTECTION WALL AT NEW EUIPMENT</td>
          <td>2011-12</td>

        </tr>
        <tr>
          <th scope="row">16</th>
          <td>STEEL AUTHORITY OF INDIA LIMITED</td>
          <td>CONSTRUCTION OF ROAD FROM OVER BRIDGE TO RAILWAY CROSSING
    NEAR KARO BRIDGE. BOLANI ORE MINES</td>
          <td>2012-13</td>

        </tr>
        <tr>
          <th scope="row">17</th>
          <td>TATA STEEL LIMITED</td>
          <td>GRADING WORK AT NEW DCMP SITE</td>
          <td>2012-13</td>

        </tr>
        <tr>
          <th scope="row">18</th>
          <td>WORKS DEPT. ( PWD R&B )
    DIV- KEONJHAR</td>
          <td>IMPROVMENT OF ROAD LEADING FROM BAKULHUTTING NEAR SRI BEDA
    PRAKASH KENTH HOUSE TO SANTABAHAL</td>
          <td>2013-14</td>
            </tr>
        <tr>
          <th scope="row">19</th>
          <td>TATA STEEL LIMITED</td>
          <td>ROAD REPAIRING & RESURFACING AT NOAMUNDI</td>
          <td>2013-14</td>
              </tr>
        <tr>
          <th scope="row">20</th>
          <td>TATA STEEL LIMITED</td>
          <td>MEGA ROAD WORK AT WBD</td>
          <td>2013-14</td>
              </tr>

        <tr>
          <th scope="row">21</th>
          <td>TATA STEEL LIMITED</td>
          <td>ROAD REPAIRING AT JHARIA DIVISION</td>
          <td>2013-14</td>

        </tr>
        <tr>
          <th scope="row">22</th>
          <td>WORKS DEPT. ( PWD R&B )
    DIV- KEONJHAR</td>
          <td>IMPROVEMENT OF BARBIL-KIRIBURU ROAD 12/450 KM TO 16/00 KM </td>
          <td>2014-15</td>

        </tr>
        <tr>
          <th scope="row">23</th>
          <td>WORKS DEPT. ( PWD R&B )
    DIV- KEONJHAR</td>
          <td>IMPROVEMENT OF SUAKATI-DUMNA ROAD 48/000 KM TO 56/000 KM</td>
          <td>2015-16</td>

        </tr>
        <tr>
          <th scope="row">24</th>
          <td>WORKS DEPT. ( PWD R&B )
    DIV- KEONJHAR</td>
          <td>CONSTRUCTION OF H.L BRIDGE OVER BOINGA NALLAH AT 33/340 KM
    ON SUAKATI-DUMNA ROAD</td>
          <td>2016-18</td>

        </tr>
        <tr>
          <th scope="row">25</th>
          <td>WORKS DEPT. ( PWD R&B )
    DIV- KEONJHAR</td>
          <td>IMPROVEMENT OF SULIPAT-JALDUNGURI ROAD 02/250 KM TO 10/000 KM</td>
          <td>2016-17</td>

        </tr>
        <tr>
          <th scope="row">26</th>
          <td>TATA STEEL LIMITED</td>
          <td>ROAD REPAIRING & RESURFACING AT JODA</td>
          <td>2017-18</td>

        </tr>
      </tbody>
    </table>

          </div>
        </section><!-- End Projet Details Section -->



  </main><!-- End #main -->
